<div class="treeEditor relCenter" ng-if="ctrl.model" ng-class="[{notEditable: options.readOnly}, options.direction]" ng-init="$depth=0; $item={};">
    <ul class="te-ui te-repeatAnim enterOnly">
        <p class="te-empty main" ng-class="{active: !ctrl.model.length}"> 
            <i class="material-icons te-i noI">error</i>{{options.dictionary.noItem}}
        </p>
        <li ng-init="$depth=$parent.$depth && $parent.$depth + 1 || 1; $open=false; $item.add=false;" ng-repeat="node in ctrl.model track by $index" ng-include="'treeEditorChild.html'"></li>
        <div class="te-add center" ng-show="$depth < options.maxDepth">
            <div class="te-add-btn" ng-show="!$item.add && !options.singleRoot" ng-click="$item.add=true"> <i class="material-icons te-i noI">add</i>{{options.dictionary.rootAddBtn}}</div>
            <div class="add" ng-show="$item.add">
                <input type="text" placeholder="{{options.dictionary.titlePlaceholder}}" te-focus="{{$item.add}}" ng-model="$item.newItem" te-enter="add(ctrl.model, $item, $parent);" /> 
                <i class="material-icons te-i te-c-success" ng-click="add(ctrl.model, $item, $parent);">check</i> 
                <i class="material-icons te-i" ng-click="$item.newItem=''; $item.add=false;">clear</i> 
            </div>
        </div>
    </ul>
</div>
<script type="text/ng-template" id="treeEditorChild.html">
    <div class="te-header" ng-click="(!$item.edit && canBeOpen(node, $depth)?(!($open=!$open) || openTriggered(node, $item, $open)):kidOpen(node, $item))"> 
        <span class="te-selectable" ng-show="options.selectable" ng-click="toggle(node, $event)"> 
            <div class="te-checkbox" ng-class="{checked: exists(node)}"><div></div></div>
            <span ng-bind-html="grabTitle(node) | sce" ></span>
        </span> 
        <span ng-show="!$item.edit && !options.selectable" ng-bind-html="grabTitle(node) | sce" ></span> 
        <span ng-show="$item.edit" class="edit" ng-init=""> 
            <i class="material-icons te-i te-c-success" ng-click="edit(node, $item, $parent.$parent, $index, $event);">check</i> 
            <i class="material-icons te-i" ng-click="cancelEdit($item, $event)">clear</i> 
            <input type="text" placeholder="{{options.dictionary.titlePlaceholder}}" te-focus="{{$item.add}}" ng-model="$item.editItem" te-enter="edit(node, $item, $parent.$parent, $index);"/> 
        </span> 
    </div>
    <div class="te-toolbar" ng-init="initItem(node); $item={};" id="te-node-{{node.id}}"> 
        <i class="material-icons te-i" ng-class="{deg90: $open}" ng-show="canBeOpen(node, $depth)" ng-click="$open=!$open; openTriggered(node, $item, $open);">chevron_right</i> 
        <i class="material-icons te-i" ng-hide="$item.edit || $depth==1 && options.singleRoot" ng-click="$item.edit=true; $item.editItem=grabTitle(node);">mode_edit</i> 
        <i class="material-icons te-i" ng-hide="$depth==1 && options.singleRoot || $item.deleteConfirm" ng-click="$item.deleteConfirm=true;">delete</i> 
        <span class="deleteConfirm" ng-show="$item.deleteConfirm"> 
            <span ng-click="$item.deleteConfirm=false;">{{options.dictionary.cancelBtn}}</span> 
            <span ng-click="$open=false; delete($item, $parent, $event);">{{options.dictionary.confirmBtn}}</span> 
        </span> 
        <i class="material-icons te-i te-c-success" ng-show="!$item.add && depthValid($depth)" ng-click="$item.add=true; $open=true; openTriggered(node, $item, $open);">add</i> 
    </div>
    <div class="te-kidContent" ng-show="canShowKidContent($item, node)" te-loading="{{$item.kidContentLoading}}" small>
        <div class="te-ngIfAnim enterOnly" ng-if="$item.kidContent" te-template="{{$item.kidContent}}"></div>
    </div>
    <p class="te-empty" ng-class="{active: $open && !$item.kidContentLoading && (!node[$chn] || !node[$chn].length)}"><i class="material-icons te-i noI">error</i>{{options.dictionary.noItem}}</p>
    <div class="te-kidContent" style="min-height: 0;" ng-show="options.beforeListTpl && $open" te-template="{{options.beforeListTpl}}"></div>
    <ul class="te-ui te-repeatAnim enterOnly" ng-if="$open && node[$chn]">
        <li ng-init="$depth=$parent.$depth && $parent.$depth + 1 || 1; $open=false;" ng-repeat="node in node[$chn] track by $index" ng-include="'treeEditorChild.html'"></li>
    </ul>
    <div class="te-kidContent" style="min-height: 0;" ng-show="options.afterListTpl && $open" te-template="{{options.afterListTpl}}"></div>
    <div class="te-add" ng-show="$open && $item.add">
        <div class="add">
            <input type="text" placeholder="{{options.dictionary.titlePlaceholder}}" te-focus="{{$item.add}}" ng-model="$item.newItem" te-enter="add(node[$chn], $item, $parent);" /> 
            <i class="material-icons te-i te-c-success" ng-click="add(node[$chn], $item, $parent);">check</i> 
            <i class="material-icons te-i" ng-click="$item.newItem=''; $item.add=false;">clear</i> 
        </div>
    </div>
</script>
<svg style="display:none;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">
    <defs>
        <g id="material-icons te-i-add">
            <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
            <path d="M0 0h24v24H0z" fill="none" /> </g>
        <g id="material-icons te-i-error">
            <path d="M0 0h24v24H0z" fill="none" />
            <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z" /> </g>
        <g id="material-icons te-i-chevron-right">
            <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
            <path d="M0 0h24v24H0z" fill="none" /> </g>
        <g id="material-icons te-i-mode-edit">
            <path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z" />
            <path d="M0 0h24v24H0z" fill="none" /> </g>
        <g id="material-icons te-i-delete">
            <path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z" />
            <path d="M0 0h24v24H0z" fill="none" /> </g>
        <g id="material-icons te-i-check">
            <path d="M0 0h24v24H0z" fill="none" />
            <path d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z" /> </g>
        <g id="material-icons te-i-clear">
            <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" />
            <path d="M0 0h24v24H0z" fill="none" /> </g>
        <g id="material-icons te-i-autorenew">
            <path d="M12 6v3l4-4-4-4v3c-4.42 0-8 3.58-8 8 0 1.57.46 3.03 1.24 4.26L6.7 14.8c-.45-.83-.7-1.79-.7-2.8 0-3.31 2.69-6 6-6zm6.76 1.74L17.3 9.2c.44.84.7 1.79.7 2.8 0 3.31-2.69 6-6 6v-3l-4 4 4 4v-3c4.42 0 8-3.58 8-8 0-1.57-.46-3.03-1.24-4.26z" />
            <path d="M0 0h24v24H0z" fill="none" /> </g>
    </defs>
</svg>
