<md-dialog aria-label="Mango (Fruit)" dir="rtl" md-theme="pink">
    <form name="loginFOrm" ng-submit="login()" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>ورود به پرتال بیمارستان میلاد</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <i class="material-icons">clear</i>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="partialLoginContainer">
                <br>
                <div class="card">
                    <div class="input-container">
                        <input type="text" class="en" id="userName" name="userName" ng-model="loginUser.userName" required="required" />
                        <label for="userName">نام کاربری</label>
                        <div class="bar"></div>
                    </div>
                    <div class="input-container">
                        <input type="password" class="en" id="password" name="password" ng-model="loginUser.password" required="required" />
                        <label for="password">کلمه عبور</label>
                        <div class="bar"></div>
                    </div>
                    <div class="button-container">
                        <div id="partialLoginRecaptcha" class="g-recaptcha" ng-init="handleReCaptcha()"></div>
                        <br/>
                        <button type="submit"><span>ورود</span></button>
                    </div>
                    <div class="footer" ng-click="cancel()"><a href="/register">ایجاد حساب کاربری</a></div>
                </div>
                
            </div>
        </md-dialog-content>
    </form>
</md-dialog>